@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* corta tudo que sai da tela */
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* remove barra vertical e horizontal */
}

.background {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}

.card {
  position: absolute;
  width: 8rem;
  opacity: 0.8;
  pointer-events: none;
  will-change: transform, opacity, filter;
}
